.tileContainer {
  max-width: 65vw;
  height: 100%;
}
.links {
  background-color: black;
  height: 100%;
  width: 100%;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.bigContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  height: 100%;
  background-color: black;
  padding: 15px;
}

.grass {
  background-color: green;
  /*background-image: url('http://opengameart.org/sites/default/files/grass03_0.png');*/
  height: 11%;
  width: 11%;
  float: left;
}

.icon {
  height: 100%;
  width: 100%;
}
.Sicon {
  height: 100%;
  width: 100%;
}

.cement {
  background: green;
  /*background-image: url('http://opengameart.org/sites/default/files/grass03_0.png');*/
  height: 11%;
  width: 11%;
  float: left;
}

.playerOne{
  background: green;
  height: 11%;
  width: 11%;
  float: left;
}

.crate{
  background: green;
  /*background-image: url('http://opengameart.org/sites/default/files/grass03_0.png');*/
  height: 11%;
  width: 11%;
  float: left;
}

.iconCrate{
  height: 98%;
  width: 98%;
  float: left;
}

.displayUser {
  margin: 0;
  padding: 5px;
}
