.displayUser {
  background-color: black;
  color: cornflowerblue;
  margin: 0;
  padding: 5px;
}

.links {
  background-color: black;
  height: 100%;
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
}









.game {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

.opacity {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  position: fixed;
}

.wrapMe {
    width: 100%;
    height: 130%;
    padding-bottom: 66.66%;
    z-index: 1;
    position: relative;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
}





.grass {
  background-image: url('https://i.imgur.com/8VvWcuc.jpg');
  background-size: cover;
  height: 11%;
  width: 11%;
  float: left;
}

.icon {
  height: 100%;
  width: 100%;
}

.Sicon {
  height: 100%;
  width: 100%;
}

.cement {
  background-image: url('https://i.imgur.com/8VvWcuc.jpg');
  background-size: cover;
  height: 11%;
  width: 11%;
  float: left;
}

.playerOne {
  background: green;
  height: 11%;
  width: 11%;
  float: left;
}

.crate {
  background-image: url('https://i.imgur.com/8VvWcuc.jpg');
  background-size: cover;
  height: 11%;
  width: 11%;
  float: left;
}

.bomb {
  background-image: url('https://i.imgur.com/8VvWcuc.jpg');
  background-size: cover;
  height: 100%;
  width: 60%;
}

.iconCrate {
  height: 98%;
  width: 98%;
  float: left;
}
