.ZeroZero {
  height: 10%;
  width: 10%;
  border: 1px solid black;
  float: left;
}

.bomberman {
  height: 100%;
  width: 100%;
  background-color: green;
}
.bomberwoman {
  height: 100%;
  width: 100%;
  background-color: pink;
}

.earth {
  height: 100%;
  width: 100%;
  background-color: green;
}
.wall {
  height: 100%;
  width: 100%;
  background-color: grey;
}
.bomb {
  height: 100%;
  width: 100%;
  background-color: black;
}
.fire {
  height: 100%;
  width: 100%;
  background-color: red;
}
.drop {
  height: 100%;
  width: 100%;
  background-color: purple;
}
.carry {
  height: 100%;
  width: 100%;
  background-color: yellow;
}
.crate {
  height: 100%;
  width: 100%;
  background-color: beige;
}

.icon {
  height: 100%;
  width: 100%;
}
