.tileContainer {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.grass {
  background: green;
  height: 10%;
  width: 10%;
  border: 1px solid black;
  float: left;
}

.icon {
  height: 100%;
  width: 100%;
}

.cement {
  background: grey;
  height: 10%;
  width: 10%;
  border: 1px solid black;
  float: left;
}

.playerOne{
  background: green;
  height: 10%;
  width: 10%;
  border: 1px solid black;
  float: left;
}

.crate{
  background: brown;
  height: 10%;
  width: 10%;
  border: 1px solid black;
  float: left;
}
