.blockContainer {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.grass {
  background: green;
  height: 10%;
  width: 10%;
  border: 1px solid black;
  float: left;
}

.cement{
  background: grey;
  height: 10%;
  width: 10%;
  border: 1px solid black;
  float: left;
}

.dot {
  border: solid black 5px;
  border-radius: 10px;
}
